@import 'bootstrap/scss/bootstrap';

@import 'react-bootstrap-sidebar-menu/dist/sidebar-menu.scss';
@import './custom.scss';

.main-wrapper {
	width: 100vw;
	height: 100vh;
	background: #f3f4f6;
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		'sidebar header'
		'sidebar main';
}

.main-header {
	grid-area: header;
	padding: 0.5rem;
}

.main-container {
	grid-area: main;
	box-shadow: inset 2px 1px 9px 1px rgba($dark, 0.1);
	overflow: auto;
	padding: 0.5rem rem;
}

.page {
	height: 100%;
}

.disabled-div {
	pointer-events: none;
	opacity: 0.6;
}

.enabled-div {
	pointer-events: visible;
	opacity: 1;
}
