.web-dashboard-page {
	margin-top: 0.5rem;
	position: relative;
	display: flex;
	align-items: stretch;

	.col1 {
		width: calc(100% * 2 / 3);
	}

	.col2 {
		width: calc(100% * 1 / 3);

		.col2-container {
			position: sticky;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			height: 100%;
			margin-left: auto;
		}

		.create-btn-container {
			display: flex;
			justify-content: center;
			margin-bottom: 1rem;
		}

		.title {
			font-size: 1rem;
			font-weight: 600;
		}
	}
}
